<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>市政府十大实事项目绩效考核评议</title>
    <% include ./inc/meta.ejs %>
</head>
<body class="jxkh03">
    <article class="hz-wrap">
        <section class="m-topbar">
            <h1><a href="/_index.html"><img src="./resources/images/bg_logo.png" alt=""/></a></h1>
            <p>杭州市综合考评委员会办公室</p>
            <p>杭州市绩效管理委员会办公室</p>
            <h2>市政府十大实事项目绩效考核评议</h2>
        </section>

        <section class="m-content">
            <div class="m-content-in">
                <table class="table">
                    <thead><th>党群、人大、政协群团系统</th></thead>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-navlinks" href="#">党群、人大、政协、群团系统</a></td>
                        <td><a class="btn btn-navlinks" href="#">市政府其他部门、市直单位</a></td>
                        <td><a class="btn btn-navlinks" href="#">市政府其他部门、市直单位</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="m-footerbar">
            <p class="ta-r"><a class="a-btn" href="#"><i class="icon icon-list"></i></a> <a href="#"><i class="icon icon-back"></i></a></p>
        </section>
    </article>
    <% include ./inc/script.ejs %>
</body>
</html>