<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>市政府十大实事项目绩效考核评议</title>
    <% include ./inc/meta.ejs %>
</head>
<body class="jxkh05">
    <article class="hz-wrap">
        <section class="m-topbar">
            <h1><a href="/_index.html"><img src="./resources/images/bg_logo.png" alt="" width="58" height="56"/></a></h1>
            <p>杭州市综合考评委员会办公室</p>
            <p>杭州市绩效管理委员会办公室</p>
            <h2>市政府十大实事项目绩效考核评议</h2>
        </section>

        <section class="m-content">
            <div class="m-content-in">
                <div class="top-info">
                    <p class="ta-r">
                        <a href="#">[我要评论]</a>
                        <a href="#">[返回列表]</a>
                    </p>
                    <div class="div-title clearfix">
                        <h3 class="pull-l">服务项目：襄阳市县级单位和工作人员业绩台账管理办法</h3>
                        <span class="pull-r">责任单位：绩效考评委员会</span>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <th width="85%">评论内容</th>
                        <th width="15%">时间</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</td>
                        <td>2012年 7月</td>
                    </tr>
                    <tr>
                        <td>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</td>
                        <td>2012年 8月</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="m-footerbar">
            <p class="ta-r">
                <span class="span-breadcrumb">
                    <a href="#">首页</a>
                    <i class="icon icon-separate"></i>
                    <a href="#">市政府十大事实项目绩效考评评议</a>
                    <i class="icon icon-separate"></i>
                    <span>襄组通（2014）31号（联合，人事）</span>
                </span>
                <a class="a-btn" href="#"><i class="icon icon-list"></i></a> <a class="a-btn" href="#"><i class="icon icon-back"></i></a>
            </p>
        </section>
    </article>
    <% include ./inc/script.ejs %>
</body>
</html>