<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>市政府十大实事项目绩效考核评议</title>
    <% include ./inc/meta.ejs %>
</head>
<body class="jxkh06">
    <article class="hz-wrap">
        <section class="m-topbar">
            <h1><a href="/_index.html"><img src="./resources/images/bg_logo.png" alt="" width="58" height="56" /></a></h1>
            <p>杭州市综合考评委员会办公室</p>
            <p>杭州市绩效管理委员会办公室</p>
            <h2>组织机构——杭州综合考评</h2>
        </section>

        <section class="m-content">
            <div class="m-content-in">
                <div>此处内容，由后台编辑器输入生成～</div>
            </div>
        </section>

        <section class="m-footerbar">
            <p class="ta-r">
                <span class="span-breadcrumb">
                    <a href="#">首页</a>
                    <i class="icon icon-separate"></i>
                    <a href="#">基本情况</a>
                    <i class="icon icon-separate"></i>
                    <a href="#">组织机构</a>
                    <i class="icon icon-separate"></i>
                    <span>杭州市直单位综合考评“3+1”模式示意图</span>
                </span>
                <a class="a-btn" href="#"><i class="icon icon-list"></i></a> <a class="a-btn" href="#"><i class="icon icon-back"></i></a>
            </p>
        </section>
    </article>
    <% include ./inc/script.ejs %>
</body>
</html>