<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <% include ./inc/meta.ejs %>
</head>
<body class="index bg-body">
    <article class="hz-wrap">
        <section class="m-topbar">
            <h1><a href="/_index.html"><img src="./resources/images/bg_logo.png" alt=""/></a></h1>
            <p>杭州市综合考评委员会办公室</p>
            <p>杭州市绩效管理委员会办公室</p>
        </section>

        <section class="content">
            <h2>绩效考核及整改目标评议</h2>
            <table class="nav-table">
                <tbody>
                <tr>
                    <td><a href="#"><img src="./resources/images/index_links_jxkp.png" alt=""/></a></td>
                    <td><a href="#"><img src="./resources/images/index_links_szf.png" alt=""/></a></td>
                    <td><a href="#"><img src="./resources/images/index_links_skp.png" alt=""/></a></td>
                    <td><a href="#"><img src="./resources/images/index_links_zdzg.png" alt=""/></a></td>
                </tr>
                </tbody>
            </table>
        </section>
    </article>
    <% include ./inc/script.ejs %>
</body>
</html>