		<!-- BEGIN footer-->
		<footer class="m-footer">
			<article class="m-footer-link w1000">
				<section>
					<h2>产品与服务</h2>	
					<a href="/compute/index.html">计算与网络</a>	
					<a href="/db/index.html">数据库服务</a>	
					<a href="/ks3/index.html">金山云存储</a>	
					<a href="/mon/index.html">监控与安全</a>	
				</section>
				<section>
					<h2>客户案例</h2>	
					<a href="/case/mobileApp/index.html">火爆手游</a>	
					<a href="/case/webApp/index.html">经典页游</a>	
					<a href="/case/saasApp/index.html">SaaS应用</a>	
					<a href="/case/website/index.html">专业网站</a>	
				</section>
				<section>
					<h2>帮助中心</h2>	
					<a href="/doc/guide/index.html">技术文档</a>	
					<a href="javascript:;">网站备案</a>	
				</section>
				<section>
					<h2>关注我们</h2>	
					<a href="/contact/index.html">联系金山云</a>	
					<a href="javascript:;"><label><img src="/resources/images/pic_70x70.png"></label></a>	
					<a href="http://weibo.com/p/1006062792702950">新浪微博</a>	
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=4000289900&site=qq&menu=yes">QQ客服</a>
					<a href="/history/index.html">金山云大事件</a>	
				</section>
				<section>
					<h2>加入金山云</h2>	
					<a href="/cms/job/list?jobtype=社招">社会招聘</a>	
					<a href="/cms/job/list?jobtype=校园">校园招聘</a>	
					<a href="/cms/job/list?jobtype=实习">实习机会</a>	
				</section>
			</article>
			<article class="m-footer-record clearfix">
				<section class="record-main w1000">
					<label>2013 Ksyun All Rights Reserved Kingsoft Corp. 北京金山云网络技术有限公司 京ICP证120829号 京ICP备12032080号-2</label>
					<a href="javascript:;"><img src="/resources/images/pic_130x52.png"></a>
				</section>
			</article>
		</footer>

		<!-- END footer-->
		<% include script %>
