<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include inc/meta %>
	<title>营养分析</title>
</head>
<body>

<section class="top-tool">
	<div class="top-tool-in">
		<a class="btnBack" href="#"><i>&lt;</i> <span>返回</span></a>
		<h2>营养分析</h2>
		<a class="btnMore" href="#">...</a>
	</div>
</section>

<section class="nav-top">
	<div class="m-nav-tab">
		<a class="active" href="#"><i class="i-l"></i><span>日分析</span><i class="i-r"></i></a>
		<a href="#">周分析</a>
	</div>
</section>

<article class="main">
</section>
	<div class="time-bar">
		<a class="btnPrev" href="#">&lt;</a>
		<a class="btnNext" href="#">&gt;</a>
		<h3><span>营养分析</span> <em>10月20日</em></h3>
	</div>
	<div class="elements-percentage">
		<dl>
			<dt>能量</dt>
			<dd class="blue">
				<div>
					<span class="span-now" style="width:56%"></span>
				</div>	
				<div>
					<span>56%</span>
				</div>
			</dd>
			<dt>脂肪</dt>
			<dd class="blue">
				<div>
					<span class="span-now" style="width:72%"></span>
				</div>	
				<div>
					<span>72%</span>
				</div>
			</dd>
			<dt>蛋白质</dt>
			<dd class="green">
				<div>
					<span class="span-now" style="width:100%"></span>
				</div>	
				<div>
					<span class="c-green">足量</span>
				</div>
			</dd>
			<dt>碳水化合物</dt>
			<dd class="yellow">
				<div>
					<span class="span-now" style="width:23%"></span>
				</div>	
				<div>
					<span>23%</span>
				</div>
			</dd>
			<dt>叶酸</dt>
			<dd class="blue">
				<div>
					<span class="span-now" style="width:53%"></span>
				</div>	
				<div>
					<span>53%</span>
				</div>
			</dd>
			<dt>钙</dt>
			<dd class="blue">
				<div>
					<span class="span-now" style="width:36%"></span>
				</div>	
				<div>
					<span>36%</span>
				</div>
			</dd>
			<dt>铁</dt>
			<dd class="blue">
				<div>
					<span class="span-now" style="width:60%"></span>
				</div>	
				<div>
					<span>60%</span>
				</div>
			</dd>

		</dl>
	</div>

	<div class="m-list">
		<ul>
			<li><a href="#">
					<i class="m-icon m-icon-ysjl"></i>
					<span>饮食记录</span>
					<i>&gt;</i>
				</a>
			</li>
			<li><a href="#">
					<i class="m-icon m-icon-yysp"></i>
					<span>营养食谱</span>
					<i>&gt;</i>
				</a>
			</li>
		</ul>
	</div>

<nav class="m-nav-main">
	<a class="active" href="#">
		<i class="m-icon m-icon-yygz"></i>
		<span>营养跟踪</span>
	</a>
	<a href="#">
		<i class="m-icon m-icon-tzbmi"></i>
		<span>体重BMI</span>
	</a>
	<a href="#">
		<i class="m-icon m-icon-yfkt"></i>
		<span>孕妇课堂</span>
	</a>
	<a href="#">
		<i class="m-icon m-icon-wdxx"></i>
		<span>我的信息</span>
	</a>
</nav>
</article>
	
</body>
</html>
		
