	<nav class="m-nav-main">
		<a class="active" href="#">
			<i class="m-icon m-icon-yygz"></i>
			<span>营养跟踪</span>
		</a>
		<a href="#">
			<i class="m-icon m-icon-tzbmi"></i>
			<span>体重BMI</span>
		</a>
		<a href="#">
			<i class="m-icon m-icon-yfkt"></i>
			<span>孕妇课堂</span>
		</a>
		<a href="#">
			<i class="m-icon m-icon-wdxx"></i>
			<span>我的信息</span>
		</a>
	</nav>