/* Reset + Base
======================================== */
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, del, form, th, td { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
del { text-decoration: none; }
em, i { font-style: normal; }
ul, ol, li { list-style: none; }
img { border: none; }
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
.clearfix:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.clearfix { zoom: 1; }
a { text-decoration: none; color: #1a66b3; }
a:hover { text-decoration: underline }

body
	background #aac6de url("./../images/bg_background_repeatX.png") repeat-x 0 0
body.bg-body .hz-wrap
	background url("./../images/bg_banner_index.png") no-repeat center 40px
.hz-wrap
	position relative
	color #404040
	font nomal 12px/1.5 '\5FAE\8F6F\96C5\9ED1'
	width 1000px
	min-height 650px
	margin 0 auto
	z-index 9

/* Common
======================================== */
.m-topbar
	position: relative
	padding 20px 0
	z-index: 9
	h1
		float left
		width: 58px
		height: 58px
		margin-right: 10px
	p
		color #e2ebf4
		font-size: 14px
		margin 7px 0 12px
	h2
		position absolute
		right 0
		bottom 20px
		color: #ffffff
		font-size: 32px

.m-footerbar
	position absolute
	right 0px
	bottom 20px
	.a-btn
		display: inline-block
		height: 36px
		vertical-align middle
		margin 0 5px
	.a-btn:last-child{
		margin 0;
	}
	.span-breadcrumb
		display inline-block
		height: 36px
		line-height: 36px
		color: #ffffff
		font-size: 12px
		text-align: center
		vertical-align middle
		background #4e565c
		padding 0 10px
		border-radius 5px
		-webkit-border-radius 5px
		-moz-border-radius 5px
		a
			color #fff
			text-decoration none
		a:hover
			text-decoration none
		.icon-separate
			margin 0 5px
.m-content
	width 1000px
	height: 470px
	overflow-x hidden
	overflow-y auto
	background-color: #ffffff
	margin 10px auto
	border-radius 5px
	-webkit-border-radius 5px
	-moz-border-radius 5px
	.m-content-in
		padding 20px 15px
		.table
			width: 100%
			border 1px solid #d3d3d3
			border-width 1px 0 0 1px
			margin 0 auto

			th,td
				color: #666666
				vertical-align middle
				border 1px solid #d3d3d3
				border-width 0 1px 1px 0
				padding 10px
			th
				color: #309acc
				font-size: 14px
				font-weight: bold
				text-align: center
				background-color: #f5f5f5
				padding 15px




.icon
	display inline-block
	vertical-align middle
	background url("./../images/bg_icons.png") no-repeat 0 0
.icon-list
	width 36px
	height: 36px
	background-position  0 -92px
.icon-back
	width 36px
	height: 36px
	background-position  0 -46px
.icon-separate
	width: 5px
	height: 9px
	background-position  -48px 0px

.ta-r
	text-align right

/* Page
======================================== */
/* 首页 */
.index
	.hz-wrap
		.content
			margin-top: 30px
			h2
				color: #ffffff
				font-size: 48px
				font-weight bold
				text-align: center
			.nav-table
				width 1000px
				margin-top 80px
				td
					width 25%
					text-align: center
/* 1.2 绩效考核 */
.jxkh02
	.hz-wrap
		.content
			margin-top: 30px
			h2
				color: #ffffff
				font-size: 48px
				font-weight bold
				text-align: center
			.nav-table
				width 800px
				margin 80px auto 0
				td
					width 46%
					text-align: center
					padding 12px 7%
					.btn
						display block
						padding 10px 12px

/* 1.3 市政府十大实事项目绩效考核评议 */




/* Copy content
======================================== */
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn:hover
	text-decoration none
.btn-navlinks
	color #fff
	background-color #1f5072
	border-color #1e4e70
.btn-navlinks:hover
	color #fff
	background-color #ec971f
	border-color #d58512

