/* ===== Page ===== */
/* 营养分析 */
.time-bar {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 1rem 3.125%;
  z-index: 9;
}
.time-bar a {
  position: absolute;
  top: 1rem;
  color: #00a0e9;
  font-size: 2rem;
  text-decoration: none;
  z-index: 99;
}
.time-bar .btnPrev {
  left: 3.125%;
}
.time-bar .btnNext {
  right: 3.125%;
}
.time-bar h3 {
  font-size: 1.6rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 1.5rem;
}
.elements-percentage {
  font-size: 1.3rem;
  padding: 1.5rem 4.6875%;
  border-bottom: 1px solid #ddd;
}
.elements-percentage dt {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}
.elements-percentage dd {
  display: -webkit-box;
  display: -moz-box;
  display: -box;
  margin-bottom: 1rem;
}
.elements-percentage dd div:first-child {
  position: relative;
  height: 0.8rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  border-bottom: 2px solid #ddd;
  z-index: 9;
}
.elements-percentage dd div:first-child .span-now {
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  height: 0.8rem;
  background-color: #f00;
  border-radius: 0.2rem;
  z-index: 99;
}
.elements-percentage dd div:last-child {
  color: #00a0e9;
}
.elements-percentage dd.blue .span-now {
  background-image: -moz-linear-gradient(left, #60a8f4, #5dd9e5);
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, from(#60a8f4), to(#5dd9e5));
}
.elements-percentage dd.green .span-now {
  background-image: -moz-linear-gradient(left, #74bf26, #ace42b);
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, from(#74bf26), to(#ace42b));
}
.elements-percentage dd.yellow .span-now {
  background-image: -moz-linear-gradient(left, #ffb319, #ffd427);
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, from(#ffb319), to(#ffd427));
}
/* 体重BMI */
.bmi-num {
  padding: 1.6rem 0;
}
.bmi-num ul {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1.4rem;
  -column-gap: 1.4rem;
  -webkit-column-rule: 2px solid #e6e6e6;
  olumn-rule: 2px solid #e6e6e6;
}
.bmi-num ul li {
  color: #999;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
}
.bmi-num ul li dd {
  font-size: 2.6rem;
  font-weight: normal;
}
.bmi-num ul li dd strong {
  font-size: 2rem;
  font-weight: normal;
}
.bmi-num ul li dd small {
  font-size: 1.6rem;
}
/* 饮食记录 */
.ysjl .ysjl-list {
  font-size: 1.4rem;
}
.ysjl .ysjl-list h3 {
  color: #666;
  background-color: #e6f3fa;
  padding: 0.8rem 3.125%;
}
.ysjl .ysjl-list li p {
  border-bottom: 1px solid #ddd;
  padding: 1.2rem 3.125% 0;
}
.ysjl .ysjl-list li p strong {
  color: #00a0e9;
  line-height: 2rem;
}
.ysjl .ysjl-list li p i {
  display: inline-block;
  verticle-align: middle;
  color: #8fc31f;
  font-size: 2.6rem;
  cursor: pointer;
}
.ysjl .ysjl-list ol li {
  font-size: 1.6rem;
  border-bottom: 1px solid #ddd;
  padding: 1rem 4.6875%;
}
.ysjl .ysjl-list ol li span {
  color: #999;
}
.ysjl .ysjl-list li:last-child p {
  border-bottom: 0px;
}
.ysjl .ysjl-list h3,
.ysjl .ysjl-list li p,
.ysjl .ysjl-list ol li {
  display: -webkit-box;
  display: box;
}
.ysjl .ysjl-list h3 strong,
.ysjl .ysjl-list li p strong,
.ysjl .ysjl-list ol li strong {
  display: block;
  font-weight: normal;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
/* m-Template */
